.titulo { background-color: #336699;color: #ffff00;font-family: Book Antiqua, Tahoma, Helvetica, Verdana; font-size: 20px; }
.titulo2 { background-color: #336699;color: #ffff00;font-family: Book Antiqua, Tahoma, Helvetica, Verdana; font-size: 14px; }
.MailboxButton1 { font-family: Verdana, Geneva, sans-serif;}
.forma1 { background-color: #fffff;color: #000000;font-family: Book Antiqua, Tahoma, Helvetica, Verdana; font-size: 14px;}